.chessboard {
  display: inline-block;
  overflow: hidden;
}

.chessboard-row {
  height: 80px;
}

.chessboard-cell {
  width: 80px;
  height: inherit;
  display: inline-block;
  overflow: hidden;
}

.chessboard-cell.white {
  background-color: #f0d9b5;
}

.chessboard-cell.black {
  background-color: #b58863;
}

.chessboard-cell.inner {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid transparent;
}

.chessboard-cell.inner.selected {
  background-color: rgba(0, 128, 0, 0.3);
}

.chessboard-cell.inner.available {
  box-shadow: inset 0 0 2px 2px green;
}

.rook-white {
  background: url('img/sprite_80.png') -5px -5px no-repeat;
}

.rook-black {
  background: url('img/sprite_80.png') -5px -95px no-repeat;
}

.knight-white {
  background: url('img/sprite_80.png') -95px -5px no-repeat;
}

.knight-black {
  background: url('img/sprite_80.png') -95px -95px no-repeat;
}

.bishop-white {
  background: url('img/sprite_80.png') -185px -5px no-repeat;
}

.bishop-black {
  background: url('img/sprite_80.png') -185px -95px no-repeat;
}

.king-white {
  background: url('img/sprite_80.png') -275px -5px no-repeat;
}

.king-black {
  background: url('img/sprite_80.png') -275px -95px no-repeat;
}

.queen-white {
  background: url('img/sprite_80.png') -365px -5px no-repeat;
}

.queen-black {
  background: url('img/sprite_80.png') -365px -95px no-repeat;
}

.pawn-white {
  background: url('img/sprite_80.png') -455px -5px no-repeat;
}

.pawn-black {
  background: url('img/sprite_80.png') -455px -95px no-repeat;
}